* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Open Sans', sans-serif;
     background-color: rgb(0, 115, 160);
     color: rgb(0, 54, 102);
}

header{
    background-color: rgb(5, 187, 187);
    color: rgb(221, 124, 5);
    text-align: center;
    padding: 12px;
}

header h1{
    margin-bottom: 12px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

.foto_perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid;
    box-shadow: 5px 5px 15px ;
}
.card{
    background-color: rgb(2, 124, 161);
    border: 1px solid color(srgb rgb(1, 132, 192) rgb(22, 52, 223) blue);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 7px 50px color(srgb rgb(1, 4, 163) rgb(28, 3, 167) blue);
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 12px;
    color: black;
}
.sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.botao {
display: inline-block;
margin-top: 10px;
background-color: beige;
padding: 8px;
color: rgb(7, 105, 105);
border-radius: 10px;
box-shadow: 4px 4px 10px color(srgb rgb(9, 133, 235) rgb(12, 227, 255) blue);
}

ul,ol {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
}

input , textarea {
    width: 400px;
    padding: 4px;
    border-radius: 8px;
}

.botao_formulario {
    margin-top: 20px;
    width: 400px;
    padding: 4px;
    background-color: rgb(231, 237, 238);
    color: black;
    border-radius: 8px;
    box-shadow: 2px 2px 5px color(srgb rgb(120, 219, 236) rgb(13, 219, 219) blue);
}
